.idea/
*.iml
target/
.class/

#.idea/jarRepositories.xml
#.idea/compiler.xml
#target/classes/Flow_of_Control_Assignment/task1/CheckEvenOdd.class
#target/classes/Flow_of_Control_Assignment/task10/WeekDaysUsingEnum$Weekdays.class
#target/classes/Flow_of_Control_Assignment/task10/WeekDaysUsingEnum.class
#target/classes/Flow_of_Control_Assignment/task11/EnumGeometricShapes.class
#target/classes/Flow_of_Control_Assignment/task11/GeometricShapes.class
#target/classes/Flow_of_Control_Assignment/task2/LargestOfThreeNumbers.class
#target/classes/Flow_of_Control_Assignment/task3/CheckLeapYear.class
#target/classes/Flow_of_Control_Assignment/task4/CheckNegativeOrPositive.class
#target/classes/Flow_of_Control_Assignment/task5/GradeCalculation.class
#target/classes/Flow_of_Control_Assignment/task6/GuessingDay.class
#target/classes/Flow_of_Control_Assignment/task7/FirstnNaturalNumbers.class
#target/classes/Flow_of_Control_Assignment/task8/SumOfNaturalNumbers.class
#target/classes/Flow_of_Control_Assignment/task9/CheckPrimeNumber.class


